* {
  background-color: #1a1313;
  color: #f0ebeb;
  margin: 0 auto;
}

section {
  overflow-x: hidden;
  width: 100%;
  padding: 0 1rem;
  min-height: 100vh;
}

/* #showcases {
  background-color: #1a1313;
  color: #f0ebeb;
} */
