* {
  background-color: black;
  color: white;
  margin: 0 auto;
}

section {
  overflow-x: hidden;
  width: 100%;
  padding: 0 1rem;
  min-height: 100vh;
}

#showcases {
  background-color: white;
  color: black;
}
